@mixin fFlexbox($direction, $height, $width){
    display: flex;
    flex-direction: $direction;
    text-align: center;
    justify-content: center;
    height: $height;
    width: $width;
}


*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: white;
    width: fit-content;
    height: fit-content;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  main {
    height: fit-content; 
    width: 100%;
    background-color: rgb(38, 132, 219);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .section1{
        @include fFlexbox(column, 100vh, 118.9rem);
        background-color: rgb(216, 75, 75);

        .logo{
            @include fFlexbox(row, 15rem, 118.9rem);
            border-top: 4px dotted rgb(0, 0, 0);   /* Góra */
            border-bottom: 4px dotted rgb(0, 0, 0); /* Dół */
        }
        .section1_content{
            @include fFlexbox(row, 26rem, 118.9rem);
            border-top: 4px dotted rgb(0, 0, 0);   /* Góra */
            border-bottom: 4px dotted rgb(0, 0, 0); /* Dół */
            
            .pictures{
              @include fFlexbox(row, 26rem, 118.9rem);
              column-gap: 43rem;
              .img1{
                  @include fFlexbox(row, 26rem, 36rem);
                  border-right: 4px dotted rgb(0, 0, 0);   /* Góra */
                  border-left: 4px dotted rgb(0, 0, 0);
                  background-color: aqua;
              }

              .img2{
                  @include fFlexbox(row, 26rem, 36rem);
                  border-left: 4px dotted rgb(0, 0, 0);
                  border-left: 4px dotted rgb(0, 0, 0);
                  background-color: purple;
              }
            }
            .group_chat{
              @include fFlexbox(column, 26rem, 39rem);
              border-right: 4px dotted rgb(0, 0, 0);   /* Góra */
              border-left: 4px dotted rgb(0, 0, 0);
              background-color: black;
              position: absolute;
          }
        }
        .pointer1{
            @include fFlexbox(row, 18rem, 118.9rem);
            border-top: 4px dotted rgb(0, 0, 0);   /* Góra */
            border-bottom: 4px dotted rgb(0, 0, 0); /* Dół */
        }
    }
    .section2{
        @include fFlexbox(row, 100vh, 100%);
        background-color: beige;
    }
    .footer1{
        @include fFlexbox(row, 25vh, 100%);
        background-color: black;
    }
  }


  @media (max-width: 768px) {

}